{:deps true

 :builds {:server {:target    :node-script
                   :main      factorio-mod-tool.server/main
                   :output-to "out/server.js"}

          :cli {:target    :node-script
                :main      factorio-mod-tool.cli/main
                :output-to "out/cli.js"}

          :test {:target    :node-test
                 :output-to "out/test.js"
                 :autorun   true}}}
